<div class="container my-content">
  <h3 class="clearfix">Teen Camp 2015 - <small>Camper Information</small></h3>
  <%= render 'camper' %>

  <!-- Guessing there's a more elegant way-->
<pre>
 <b>Consent</b> 
Consent Form

I ____________________________________consent that my daughter/son/ward _____________________________________ can attend 
Teen Camp 2017 at the Pentecost Convention Centre from the 16th to the 20th of August.

Signed: ____________________

 Campers' Rules and Regulations

1) Each camper is responsible for his/her roommates and must always look out for them.
2) Rooms must be kept neat at all times.
3) Lights out MUST be observed.
4) There should be no crossing over, i.e. boys cannot go to girls' rooms and vice versa.
5) Campers must participate in all camp activities.
6) Every camper must have his/her morning devotion.
7) Campers must be on time for all camp activities.
8) We know you'll miss your phone but kindly leave it at home, speak with your supervisor if you need to make an urgent call

Campers are to bring the following along to camp:
a. Bible, notebook, pens and pencils.
c. Sleeping cloth (Duvet) and warm clothing.
d. Bucket (optional)
f. Umbrella/ Rain Jacket
g. Money for books and other literature.
h. Pillow (optional).
i. Any necessary medication

Reporting time at Accra Ridge Church/ Manet on the 16th of August is 7:00am
Campers will return to Accra Ridge Church/Manet on Sunday the 20th at 4:00pm

</pre>
</div>
