<div class='container my-content'>
		<div class=''>
			<h3>About the Teen Camp</h3>
			<br />
			<div class="simple-content">
				<p>
					The Accra Ridge Church Teen Camp is an annual 5 day retreat aimed at providing
					Christian teens with the opportunity to set aside time from their daily lives to
					be with God and fellowship with likeminded believers.
				</p>

				<p>
					Teen Camp consists of days of refreshing, rebuilding and strengthening in the
					presence of God with Prayer and the Word of God being paramount. Over the years,
					camp has attracted an average of 200 campers and has been a blessing not just to
					the teens of Accra Ridge Church but to many others in other churches.
				</p>

				<p>
					If you are between the ages of 12 and 18, seeking, searching and desiring more of
					God then Accra Ridge Church teen Camp is the best place you would want to be every year.
				</p>
				<p>
					For more information on other ARC teen progromas visit <a href="http://arcyf.com">arcyf.com</a>
				</p>
			</div>
		</div>
</div>
