<div class='container my-content simple-content'>
	<div class='faq'>
		<h3>FAQ's</h3>
		<br />
		<ol>
			<li>
				<div class='question'>How much will it cost to attend camp this year?</div>
				<div class='answer'>This year’s camp will cost each camper a highly subsidised fee of GH¢170.00.
				</div>
			</li>
			<li>
				<div class='question'>What’s the age range for teen camp? </div>
				<div class='answer'>The age range of camp is from 12-18 years.
				</div>
			</li>
			<li>
				<div class='question'>Where can I make my payments?</div>
				<div class='answer'>Payments can be made at the Ridge and Manet Church Offices which open from Mondays through to Fridays and on Sundays after service at the registration desk.
				</div>
			</li>		
			<li>
				<div class='question'>Can I receive a refund after having made payment?</div>
				<div class='answer'>Camp fees, once paid, are non- refundable.</div>
			</li>
			<li>
				<div class='question'>Will there be transportation arrangements?</div>
				<div class='answer'>Yes, there will be transportation arrangements on the first day of camp from Manet and Ridge church respectively. </b>
				</div>
			</li>
			<li>
				<div class='question'>How long is camp? </div>
				<div class='answer'> Camp is going to start on Sunday and ends on Friday. (Five Days)</div>
			</li>
			<li>
				<div class='question'>Will we be served food or will we have to provide our own.</div>
				<div class='answer'>Food and water will be served.</div>
			</li>
			<li>
				<div class='question'>Who are the organizers of camp?</div>
				<div class='answer'>Members of Accra Ridge Church Youth Fellowship.</div>
			</li>
			<li>
				<div class='question'>Where is camp going to take place?(the location)</div>
				<div class='answer'>Camp is taking place at the Presbyterian Women Training Centre</div>
			</li>
		

		<!-- <li>
			<div class='question'></div>
			<div class='answer'></div>
		</li> -->
		
	</ol>
</div>
