<div class="container-fluid">
  
    <div class="full-width-not-def">
        <%= image_tag "whoami-18-web.png" , :class => 'col-lg-8 col-md-12 col-lg-offset-2 img-responsive no-side-pad' %>
    </div>
  
  
  <div class="container-fluid">
    <div class="content col-lg-8 col-md-12 col-sm-12 col-lg-offset-2">
      <h3>Message from the committee</h3>
      <p>
            See what great love the Father has lavished on us, that we should be called children of God. (1 John 3:1a)</p>
        
       <p> God's opinion is the one that counts. Accept what God says about you, agree with Him that it is true of you and become the 
        spiritual person you are.</p>
        
      <p>  
      Understanding who you are in Christ will give you a strong foundation to build your life on. 
        Knowing who you are in Jesus is the key to a successful Christian life and a life lived ON purpose. Your identity doesn't 
        depend on something you do or have done. Your true identity is who God says you are. </p>
      <p>    
             The more we agree with God about your identity in Christ, the more our behaviour will begin to reflect your GOD GIVEN 
        identity,which is why our theme for this year’s Teen Camp is “Who Am I?”. <p/>
      
      <p> It’s a question intended for reflection, a question 
        we will like everyone to ask themselves as we seek to align ourselves with God’s purpose for our lives during and after camp. 
       </p>
       
      
    </div>
  <div>
 <!--   <div class="container-fluid">
    <div class="content col-lg-8 col-md-12 col-sm-12 col-lg-offset-2 no-side-pad">
        <section id="section01" class="demo">
      <a href="#section02"><span></span>Scroll</a>
    </section>
      
    </div>    
      
     
    </div>   -->
    
  </div>
  <div class="container-fluid">
    <div class=" content col-lg-8 col-md-12 col-sm-12 col-lg-offset-2">
    <h3>Testimonies</h3>
    <div class="col-lg-6 col-md-6 no-side-pad">
       <div class="message">
        <div class="pull-left image">
          <%= image_tag('oboubisa.jpg') %>
        </div>
        About six years ago, I attended my first camp. I had heard so many testimonies from my family and friends about their camp experiences and I went with an expectant heart. I was not disappointed or let down. That particular year, after struggling with my identity and a bit of depression and addiction, I rededicated myself to Christ and I’ve never been the same again. Teen camp has always had a way of rejuvenating my Spirit and filling me with an extra zeal to continue my walk with Christ. The five days spent at camp always come by so quickly and I leave wanting more and more of God. The atmosphere at camp is a blissful and peaceful one, and I’m always able to pour out my deepest grievances and burdens at the altar of God.
About two camps ago, I remember writing down my prayer topics in a little book of mine. I had backslidden and I remember telling God I didn’t want to go back the same. And true to his promise, I left camp feeling loved by God and determined to live for him. Every single prayer topic I wrote and prayed about was answered one after the other. Some not the exact way I wanted it to but it was clearly the work of God. I wrote the particular results I wanted in my WASSCE, and I committed my university admission into his care. I was torn between two schools, although I preferred one more than the other, I asked God to choose for me. Lo and Behold, after a lot of deliberations and events, I ended up in University of Ghana. When I look back, and I think of the people I’ve met and experiences I’ve had because of the school I ended up in, it can clearly be seen that God had a hand in it. I passed my WASSCE as well.
At another camp, I went with a particular prayer topic. I had lost a friendship that was very dear to my heart. I prayed and cried to God to restore the friendship for his Glory. When I went back to school, with little effort from me, the friendship was restored beautifully, and we grew to become even closer than before. 
There’s nothing in your life irrelevant to God. There’s nothing too small for God and God cares about each and every little thing we care about. Camp always teaches me to take my walk with God seriously and provides me with fundamental knowledge for my Christian walk. Camp always leaves me edified with heavenly knowledge, as well as a restored and peaceful heart.


        <div class="name">Elsie</div>
    </div>
   </div>
    <div class="col-lg-6 col-md-6 ">
     <div class="message">
        <div class="pull-left image">
          <%= image_tag('nanayaa.jpg') %>
        </div>
        I have always longed for a closer relationship with God just like my sister had and 
       I thought it wasn’t going to be possible ever till I came for camp last year .Last year’s camp was my first ever, 
       my sister introduced me to camp. I knew there was God , I had my quiet time but you know that fire deep inside you mine had 
       been quenched,it wasn’t burning like I wanted it to. Camp brought me closer to God, it helped me build a very close and 
       knit relationship with my father in Heaven. I felt the father’s love for me far more than I could have imagined . 
       I am lost for words for how good he is been to me , how life has been after camp and what he is continuing to do for me 
       My testimony is the song “ you are my strength, strength like no other ,strength like no other. 
       Reaches to me. you are my hope, hope like no other , reaches to me . In the fullness of your grace. 
       In the power of your name , you lift me up , you lift me up . Unfailing love ,stronger than mountains , 
       deeper than oceans . Reaches to me , in the fullness of your grace , in the name of your name , you lift me up .
       Your love oh lord ,reaches to the heavens, your faithfulness reaches to the skies, you are my strength......”

        <div class="name">Maame Yaa</div>
      </div>
      </div>
      </div>
    </div>
  <div>
</div>

<script type="text/javascript" charset="utf-8">
  (function () {
    var ids = ['camper_email', 'confirm_email', 'camper_phone_number', 'confirm_phone_number'];
    var email = $("#" + ids[0]);
    var emailConfirm = $("#" + ids[1]);
    var phoneNumber = $("#" + ids[2]);
    var phoneNumberConfirm = $("#" + ids[3]);
    var errorBox = $("#errorBox");
    var ERR_MESSAGES = {
      EMAIL_BLANK: "Email cannot be blank",
      PHONE_NUMBER_BLANK: "Phone number cannot be blank",
      EMAIL: "Emails are not the same",
      PHONE_NUMBER: "Phone Numbers are not the same",
    }
    errorBox.hide();
    for (var i = 0; i < ids.length; i++) {
      var id = "#" + ids[i];
      $(id).bind('copy paste', function (e) {
        e.preventDefault();
      });
    }
    $("#register_button").on('click', function (e) {
      errorBox.hide();
      function areEmailsTheSame() {
        return email.val() === emailConfirm.val();
      }
      function arePhoneNumbersTheSame() {
        return phoneNumber.val() === phoneNumberConfirm.val();
      }
      function showError(message) {
        errorBox.find("#message").text(message);
        errorBox.show();
        e.preventDefault();
      }
      if ($.trim(email.val()) === "") {
        showError(ERR_MESSAGES.EMAIL_BLANK)
        return false;
      }
      if ($.trim(phoneNumber.val()) === "") {
        showError(ERR_MESSAGES.PHONE_NUMBER_BLANK)
        return false;
      }
      if (!areEmailsTheSame()) {
        showError(ERR_MESSAGES.EMAIL);
        return false;
      }
      if (!arePhoneNumbersTheSame()) {
        showError(ERR_MESSAGES.PHONE_NUMBER);
        return false;
      }
    })
  })();
</script>
