<div class='container my-content'>
  <div class=''>
    <h3>Purpose of Teen Camp</h3>
    <br />
    <div class="simple-content">
    <h3>THEME- Thy Kingdom Come: Heaven on earth. (1Cor 4:20)</h3>

<p>
  Who is a Christian and what does it mean to be Christian?<br/>
Sometimes it seems it's just another label,an imaginary life preached from the pulpit yet impossible to practice or, 
maybe something we get to doing when we go to Heaven. But it's none of those things,
<span class="highlight">"The Kingdom of God is not just a lot of talk, it is living by God's power."</span>"(1Cor 4:20)
a real deal for here and now.
</p>

<p>
  The theme for this year's camp, <span class="highlight" >"Thy Kingdom Come: Heaven on earth." </span> is to help us 
focus on this truth. With this theme we aim to learn and become people who get it, teens who understand the Kingdom of God
and can live the Kingdom life practically at home,in class, on the sports team  and  everywhere we find ourselves, teens 
who become a generation that impacts the world!
</p>
<p>Topics to be treated include:
Understanding the Kingdom;
Our position in the Kingdom;
Principles governing the Kingdom and
Manifesting the Kingdom life on earth.</p>
<p>
  At this camp, we are trusting God's grace to cause a transformation as we fast, pray, 
study the scriptures and engage with solid teaching of God's Word and also share in awesome fellowship with one another. 
</p>


              
    </div>
  </div>
</div>
