<div class='container my-content'>
  <div class=''>
    <h3>Purpose of Teen Camp</h3>
    <br />
    <div class="simple-content">
    <h3>THEME- Let there be light. (Ephesians 5:8)</h3>
<p>We live in a world that is predominated by darkness, a world that is increasingly becoming void and without form. 
However, this can’t continue our watch for we are the light of the world, a city on a hill that can’t be hidden. 
For this reason, our theme for this year’s teen camp is <span class="highlight">“Let there be light.”</span>  
It is a decree. It’s a decree for the enlightening knowledge of God to fill our lives. 
A knowledge that empowers us to be the Light of the world. 
I am the light of the world. Whoever follows me will never walk in darkness, but will have the light of life [John 8:12]. 
 For you were once darkness, but now you are light in Me*. Live as children of light [Eph 5:8]
It is our hope that we shall all leave camp with the required tools and a deep understanding 
  of what it means to be the Light of the World everywhere we find ourselves. </p> 

              
    </div>
  </div>
</div>
