<div class='container my-content'>
  <div class=''>
    <h3>Purpose of Teen Camp</h3>
    <br />
    <div class="simple-content">
      <p>
      <span class="highlight"> THEME-</span> COME FOLLOW ME; “THE CALL, THE COST, THE COMMISION” (2 TIM 1:9-10, ROM 8:12-14)
      </p>
      <p>
      
      We as a committee came up with the theme with a focus to get Campers to understand that, there is the need to grow in the Lord. There is more to God than what we usually experience on a daily bases.
      </p>
      Last year’s Camps theme was, Love Unlimited; <span class="highlight">“Experience the Fathers love” (1John3:1-2)</span> and this year’s theme is a build-up on that. God has poured His love on us and we need to respond to Him. “The Call” simply speaks on the premise that God has called us with a holy calling in Christ Jesus. We are a special people/Holy nation <span class="highlight">(2Tim, 1:9-10)</span>. There’s a special price on our lives and we want campers to get to know and appreciate the precious faith God has placed on us.
      <p>
      
      <span class="highlight">“The Call”</span> to be Holy and the purpose of God in our lives we will have to count <span class="highlight">"The Cost"</span> that comes with it then certainly we will be assigned for a mission. In actual fact we were assigned to do many things in Christ before the foundation of the world <span class="highlight">(Eph 1:3-4)</span>. That’s why the walk of Faith cannot be limited to the receiving of gifts only, but in addition in must affect all spheres of our lives. I.e marriage, relationships, career etc. Then “The Commission” becomes more of a reality than just a duty that has to be done to clear our conscience or do as a Christian act as supposed to doing it because we understand why you have to do it and it’s a job done immensely out of love in Christ for the people you come in contact with.
      </p>
      <p>
      
      Campers are encouraged to build their relationship with God and to understand that if they really want to experience the full measure of that relationship with God they have to understand that it will come with a cost.  When their relationship is built up Gods way, God can fully trust that we would not disappoint Him when He calls and sends us <span class="highlight">(Hebrews 10:38-39)</span>. That’s what this year’s camp is all about.
      </p>
      
    </div>
  </div>
</div>