<div class='container my-content'>
  <div class=''>
    <h3>Purpose of Teen Camp</h3>
    <br />
    <div class="simple-content">
    <h3>THEME - Christ lives in us, let's stay woke!</h3>
<p>A wise person once said that when you build a house on a rock, you are wise because 
when the rains come down and beat against it, it will never fall; however if you decide to
 build a house on sand, you are foolish because when the rains come down and beat against it, 
 it easily comes tumbling down!!
This rock can be likened to the Word of God in our lives. 
How strong is this foundation in you? Upon this foundation we are building our lives daily, 
by the decisions we take and our actions. Do you desire to be wise or foolish?
One step to take in ensuring that you are walking down the path of wisdom is to join us for 
this year's camp as we learn to live in Christ Jesus through the Word of God, staying alert and sober in a world that is filled 
with all kinds of doctrines that can sway you in the wrong direction; be very careful then, 
how you live--not as unwise but as wise. Ephesians 5:15
As Christ lives in us, let's stay woke! </p> 

              
    </div>
  </div>
</div>
