<div class='container my-content'>
  <div class=''>
    <h3>Purpose of Teen Camp</h3>
    <br />
    <div class="simple-content">
    <h3>THEME- Who am I?</h3>
<p>See what great love the Father has lavished on us, that we should be called children of God. (1 John 3:1a)
God's opinion is the one that counts. Accept what God says about you, agree with Him that it is true of you and become the spiritual person you are.
Understanding who you are in Christ will give you a strong foundation to build your life on. 
Knowing who you are in Jesus is the key to a successful Christian life and a life lived ON purpose. Your identity doesn't depend on something you do or have done. Your true identity is who God says you are.The more we agree with God about your identity in Christ, the more our behaviour will begin to reflect your GOD GIVEN identity,which is why our theme for this year’s Teen Camp is “Who Am I?”.
It’s a question intended for reflection, a question we will like everyone to ask themselves as we seek to align ourselves with God’s purpose for our lives during and after camp. </p> 

              
    </div>
  </div>
</div>
