<div class='container my-content'>
  <div class=''>
    <h3>Purpose of Teen Camp</h3>
    <br />
    <div class="simple-content">
    <h3>THEME- LEVEL UP</h3>
<p>So that you may live a life worthy of the Lord and please him in every way: bearing fruit in every good work, growing in the knowledge of God.” Colossians‬ ‭1:10‬
As born again followers of Jesus Christ, it is imperative that we pursue Christ diligently in order to attain maturity in Him. 
Therefore, we need to order our steps in His word, to grow a level higher in our faith.
This year’s Teen Camp seeks to encourage teens to take up measures that lead to Spiritual Growth, hence the theme Level UP! 
It’s an urgent call to teens to be intentional in seeking God so they may be fruitful in their walk with God during and after camp. </p> 

              
    </div>
  </div>
</div>
