<div class='container my-content'>
  <div class=''>
    <h3>Purpose of Teen Camp</h3>
    <br />
    <div class="simple-content">
      <p>
      <span class="highlight"> THEME-</span> Thy Kingdom Come: Heaven on earth.” (1Cor 4:20)
      </p>

      <p>
        <span class="highlight">Who is a Christian? </span>
      </p>

      <p>
        So now the "Christian," is it more a label in retrospect than a person whose life/conduct daily reflects all of Christ? Is it an imaginary life merely preached at the pulpit yet impossible to practice or a lifestyle to be experienced in heaven. What a bother,Mum, Dad, you show me, "Who is a Christian?" For many other teenagers, the idea to be a Christian is unpopular, infamous and a philosophical nonsense. 
      </p>

      <p>
        These questions and other related concerns of our teens has motivated us to dub this year's Teen Camp, <span class="highlight">"Thy Kingdom Come: Heaven on earth." </span> 1Cor 4:20 asserts, "The Kingdom of God is not just a lot of talk, it is living by God's power. 
      </p>

      It is therefore our aim to:
      <ul>
        <li>help the teens of our generation understand the Kingdom of God and</li>
        <li>teach them how to live the Kingdom life practically.</li>
      </ul>

      Topics to be treated include:
      <ul>
        <li>Understanding the Kingdom;</li>
        <li>Our position in the Kingdom;</li>
        <li>Principles governing the Kingdom and </li>
        <li>Manifesting the Kingdom life on earth. </li>
      </ul>
    <p>  
     It is time for this generation to know about the Kingdom life so that we can live as such on earth and impact others to live likewise. 
    </p>

    <p>
      At this camp, we are trusting God's grace as the transformative tool and related activities such as fasting, prayer, Bible study and the preaching of God's Word, to help mould our teens to manifest the Kingdom life where ever the Lord places them as we near the end of the ages. 
    </p>
              
    </div>
  </div>
</div>