<div class='container my-content'>
  <div class=''>
    <h3>Purpose of Teen Camp</h3>
    <br />
    <div class="simple-content">
    <h3>THEME- Not Even as Hint. (Ephesians 5:3)</h3>

<p>Listening to the news on any given day within the past
couple of years, we see that what the
world deems acceptable is very far from the standard
God has set for us in His Word. The music, movies,
messages we are inundated with on a day to day basis
seem to send the message that purity is a relative
condition, and as long as we’re not as bad as someone
else, or as long as the majority deems something as
acceptable, then it’s alright, and “cool”, or the latest
stamp of approval “politically correct”. But as Christians,
    we know better!</p>
<p>We are being bombarded on a daily basis with images of
a “better” life, and the need to have the latest flashy car,
grand house, perfect wedding, etc. and the need to
attain these, regardless of what compromises we must
make to meet these worldly standards. Whether as teens,mummies and daddies, aunties and uncles, grandpas and
grandmas we are all being given these messages. We are being teased and taunted with this
world’s imperfect and flawed standard, being called
names for trying to stand up for God’s standard, and
being made to feel as outcasts for wanting to uphold the
pure standard that God has in mind for us. Terms such as
“just a little, but the bible doesn’t say kissing is bad, it’s
not a bribe; it’s a token of appreciation of the good work
you’ll do,” among others are being used to distort the
black and white of God’s Word into a very attractive gray
for us to wear. But again, we as Christians know better!
</p>
<p>In light of this, the Accra Ridge Church Youth Fellowship
is organizing this year’s teen camp in August,2016 with
the theme <span class="highlight">“NOT EVEN A HINT!”</span>, based on Ephesians 5:3
“But among you, there must not be even a hint of sexual
immorality, or of any kind of impurity or of greed,
because these are improper for God’s holy People” at the
Pentecost Convention Center, Gomoa. This year’s camp
seeks to instill in teens the appreciation of the
perfect standard God holds us to, the desire to strive
towards this standard, and also to give practical ways to
rock the beauty of Black and White in this era where
    Gray seems to be the fashion of choice.</p>

              
    </div>
  </div>
</div>
